body {
	margin-left:20px;
	font-family:cookie;
	font-size:18px;
}

.right {
  float: right;
  width: 40%;
  padding: 10px;
  border-left: 2px groove grey ;
  
}

.left {
	float:left;
	width: 40%;
	padding: 10px;
	border-right: 2px groove grey ;
}

.imgsun {
	float:left;
	margin-left:40px;
	
	
}


a {
	color:white;

}


#bandeau {
	background-color:#303030;
	line-height:80px;
	margin:0;
	padding:0;
	text-align:right;
	padding-right:40px;
	color:white;
}
h1 {
	background-color:#5c5e9c;
	font-style:italic;
	color:white;
	text-align:right;
	padding-right:40px;
	height : 40px;
	margin:0;
	border-top:1px solid grey;
	
	
	
}
#bandeau_bleu {
	background-color:#5c5e9c;
	margin:0;
	padding:0;
	padding-top:20px;
	padding-right:40px;
	height:120px;
}


#logojava {
	
	
	float:center;
	padding-left: 30px;
}